* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* NAVBAR */
nav {
    color: white;
    height: 86px;
    background-color: rgb(70, 70, 206);
}

.navbar {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;    
    padding: 0 40px;        
}

/* NAV LINKS */
.nav-links ul {
    list-style: none;
    display: flex;
    gap: 20px;              
}

.nav-links ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}

nav .nav-links .add-btn {
    padding: 8px 16px;
    background: white;
    color: rgb(70, 70, 206);
    border-radius: 6px;
    font-weight: bold;
    margin-right: 50px;
}

nav .nav-links .add-btn:hover {
    background: rgb(230, 230, 255);
}

/* Main Section */
main {
    height: 100vh;
    background-color: rgb(131, 131, 229);

    display: flex;
    justify-content: center; 
    align-items: flex-start;  
    padding-top: 50px;          
}


.main-section {
    width: 65%;
    max-width: 500px;
    height: 50%;     
    background-color: white;
    padding: 20px;
    border-radius: 10px;  
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
}

.main-section .main-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-section .main-head {
    font-size: 1.8rem;
    font-weight: 700;
}

.main-section .fa-trash {
    color: #444;
    cursor: pointer;
    font-size: 1.3rem;
}

.main-section ul {
    margin-top: 20px;
}
.main-section ul li {
    list-style: none;
    padding: 4px 0;
    border-bottom: 1px solid #eee;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    gap: 10px;
}

.main-section ul li i {
    color: #555;
    cursor: pointer;
}

.fa-trash {
  color: black !important;
}

/* Checkbox Style LineThrough */
.completed {
  text-decoration: line-through;
  color: gray;
}

input[type="checkbox"] {
  transform: scale(2);
  cursor: pointer;
}

#del-btn {
    background-color: transparent;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(131, 131, 229);;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    padding: 10px 15px;
}