* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}
/* THEME CHANGER */

.theme-btn {
  background: white;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  font-size: 12px;
  cursor: pointer;
  margin-left: 10px;
}

body.dark .theme-btn {
  background: black;
  color: white;
}

/* NAVBAR */
nav {
    color: white;
    height: 86px;
    background-color: rgb(70, 70, 206);
}

.navbar {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;    
    padding: 0 40px;        
}

/* NAV LINKS */
.nav-links{
  height: 65px;
    display: flex;
    align-items: center;            
}
.nav-links ul {
    list-style: none;
    display: flex;
    gap: 20px;              
}

.nav-links ul li a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
}

.nav-links ul li a:hover {
    /* text-decoration: underline; */
    color: #ddd;
}


/* Main Section */
main {
    height: 100vh;
    background-color: rgb(131, 131, 229);

    display: flex;
    justify-content: center; 
    align-items: flex-start;  
    padding-top: 50px;          
}


.main-section {
    width: 65%;
    max-width: 500px;
    height: 450px;         /* fixed height */
    overflow-y: auto;      /* scroll tasks */
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.main-section .main-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-section .main-head {
    font-size: 1.8rem;
    font-weight: 700;
}

.main-section .fa-trash {
    color: #444;
    cursor: pointer;
    font-size: 1.3rem;
}

.main-section ul {
    margin-top: 20px;
}
.main-section ul li {
  list-style: none;
  padding: 10px 0;
  margin-bottom: 5px;

  display: flex;
  justify-content: space-between;   /* KEY FIX */
  align-items: center;
}

.task-left {
  display: flex;
  align-items: center;
  gap: 12px;
}



.main-section ul li i {
    color: #555;
    cursor: pointer;
}

.fa-trash {
  color: black !important;
}

/* Checkbox Style LineThrough */
.completed {
  text-decoration: line-through;
  color: gray;
}

input[type="checkbox"] {
  transform: scale(2);
  cursor: pointer;
}

#del-btn {
    background-color: transparent;
    border: none;
    border-radius: 5px;
    background-color: rgb(131, 131, 229);;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    padding: 10px 15px;
}

#del-btn:hover {
    background-color: rgb(110, 110, 210);
    box-shadow: 0 3px 8px rgba(100, 100, 200, 0.4);
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  border-bottom: 1px solid #eee;
}

.todo-item .left {
  display: flex;
  align-items: center;
  gap: 10px;
}


.add-btn {
  padding: 12px 18px;
  border-radius: 8px;
  border: none;
  background-color: rgb(131, 131, 229);
  color: white;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s ease;
}

.add-btn:hover {
  background-color: rgb(110, 110, 210);
  box-shadow: 0 3px 8px rgba(100, 100, 200, 0.4);
}

/* Input Section */

.input-section {
  margin-top: 20px;
}

#taskForm {
  display: flex;
  gap: 10px;
}

#taskInput {
  flex: 1;
  padding: 12px 15px;
  font-size: 1rem;
  border: 2px solid #dcdcdc;
  border-radius: 8px;
  outline: none;
  transition: 0.2s ease;
}

/* On focus */
#taskInput:focus {
  border-color: rgb(131, 131, 229);   /* purple border */
  box-shadow: 0 0 5px rgba(131, 131, 229, 0.5);
}

/* Placeholder style */
#taskInput::placeholder {
  color: #999;
  font-style: italic;
}

/* Input hover */
#taskInput:hover {
  border-color: #b5b5ff;
}


/* ----- Dark Mode Styles ----- */

.theme-btn {
  background:rgb(70, 70, 206);
  border: none;
  padding: 2px 3px 11px 1px;
  border-radius: 6px;
  font-size: 25px;
  cursor: pointer;
  margin-right: 30px;
}

body.dark .theme-btn {
  background: #2b2b2b;
  color: white;
}

body.dark {
  background-color: #1f1f1f;
  color: white;
}

body.dark nav {
  background-color: #2b2b2b;
}

body.dark .main-section {
  background-color: #2b2b2b;
  color: white;
  border: 1px solid #444;
}
body.dark .add-btn{
  background-color: #444;
  color: white;
}
body.dark .delete-btn i {
  color: #ff7b7b;
}

body.dark input[type="checkbox"] {
  accent-color: white;
}

body.dark .nav-links ul li a {
  color: white;
  background-color: #2b2b2b;
}

body.dark nav .nav-links .add-btn:hover {
  background: #555;
}
body.dark .fa-trash{
  color: #ff7b7b !important;
} 

body.dark main{
  background-color: gray;
}

body.dark .todo-item {
  border-bottom: 1px solid #444;
}

body.dark .completed {
  color: #bbb;
}

body.dark #del-btn {
  background-color: #444;
  border: 1px solid #666;
  color: white;
}